*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background: url('/img/fondo.jpg');
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.cont-general{
    width: 100%;
    max-width: 1200px;
    max-height: 800px;
    margin: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    inset: 4px;
    border-radius: 8px;
    background: #4e4e4eb6;
    z-index: 10;
}

.left{
    width: 35%;
    max-width: 400px;
    max-height: max-content;
    background: #ffffff;
    padding: 30px;
}


.right{
    width: 65%;
    max-width: 600px;
    max-height: 800px;
    background: #4094a3;
    padding: 30px;
}


.style-form{
    
    border-radius: 15px;
    margin-right: 25px ;
    transition: 1s;
    z-index: 10;
}
.style-form:hover{
    transform: scale(1.07);
}



.box{
    position: relative;
    width: 1225px;
    height: 710px;
    background: #1c1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 1200px;
    height: 820px;
    background: linear-gradient(0deg, transparent, #3190cf, #3190cf);
    transform-origin:bottom right;
    animation: animate 6s linear infinite;
}

.box::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 1200px;
    height: 820px;
    background: linear-gradient(0deg, transparent, #e0af28, #e0af28);
    transform-origin:bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;

}



@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h2{
font-size: 25px;
margin-bottom: 20px;
}

input,
select{
    padding: 10px 16px;
    border: transparent;
    border-bottom: 2px solid #666;
    display: block;
    width: 100%;
    margin-bottom: 14px;
}

button{
    padding: 12px 40px;
    background: #000;
    color: floralwhite;

}

.right h2,
.right P{
    color: #ffffff;
}

.cont-avatar{
    display: flex;
}

h3,h4{
    color: #ffffff;
    margin-bottom: 20px;
}

.datos{
    margin-top: 140px;
    padding-left: 20px;
    border-left: 2px dashed #ffffff;
}


.datos div{
    margin-top: 20px;
    display: flex;
    align-items: center;  
}

.datos div img{
    width: 100px;
    border-radius: 50%;
}

